{#

/**
 * @file
 * Template file returns HTML for Chart.js graphs.
 *
 * @param $chart
 * @param $chart_attributes
 *
 * @return
 *   The chart div.
 */

#}
<div><canvas {{ chart_attributes }}">{{ chart }}</canvas></div>